.content-full-page {
	// @include column(12);
	width: 100%;
	margin: 0 auto;
}

.content {
	@include column(9);
	float: left;
	padding-right: 10%;
	padding-left: 5%;
	padding-bottom: 100px;

	@media (max-width: 768px) {
		@include column(12);
	}
}

.content p {
	width: 100%;
}

.content p iframe {
	width: 100%;
}

.container article h2 {
	@media (max-width: 800px) {
		display: none;
	}
}