@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic|Oswald:400,300);

$baseFont: 'Arvo', serif;
$headingsFont: 'Oswald', sans-serif;
$fontSize: 22px;
$fontWeight: 400;
$fontColour: #333;
$inverseColour: #efefef;

$primaryColour: #6AC9CD;
$successColour: #F36C36;
$errorColour: #C1272D;
$sectionColour: #3A3736;

body {
  color: $fontColour;
  font-family: $baseFont;
  font-size: $fontSize;
  font-weight: $fontWeight;
}


h1,h2,h3,h4,h5 {
  font-family: $headingsFont;
  margin: $fontSize*1.4 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}

a.copyright {
  color: #eee;

  &:hover {
    color: darken(#eee, 30%);
  }
}

h2 > a {
  color: #222;
  padding-top: 10%;
  margin-bottom: 0;
  // margin-right: 15%;
  // margin-left: 10%; 
}

h2.blogtitle {
  color: #222;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

h1.category {
  padding-bottom: 2%;
  border-bottom-style: double;
  border-bottom-color: #555;

}


h1,h2,h3,h4,h5 > a {
  font-family: $headingsFont;
  color: #222;
  text-transform: none;
  margin: $fontSize*1.4 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}

p {
  line-height: $fontSize*1.6;
  margin: $fontSize*1.4 0;
  font-size: $fontSize*0.6;
}

small {
  font-size: $fontSize*0.5;
}

strong {
  font-weight: 600;
}

li a {
  color: #333;
  text-decoration: none;
  font-size: $fontSize*0.7;
  line-height: 2;

  &:hover {
    color: darken($primaryColour, 50%);
  }
}

a {
  color: $primaryColour;
  text-decoration: none;
  &:hover {
    color: darken($primaryColour, 50%);
  }
}

header nav {
  width: 100%;
  padding: 5px 10px;
  background: $sectionColour;
  color: $inverseColour;
}

form {
  .form-element {
    margin: 15px 0;
    label {
      display:block;
      margin-bottom: $fontSize * 0.4;
      font-weight: 400;
      font-size: $fontSize * 0.8;
    }
    input {
      width: 100%;
      padding: 10px;
    }
    .radio {
      width: 100%;
      label {
        display: inline-block;
        input[type="radio"] {
          width: auto;
        }
      }
    }
  }
}

@mixin button($colour) {
  padding: 10px 25px;
  background: $colour;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-size: $fontSize*0.8; 
  font-family: 'Oswald', Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  &:hover {
    background: darken($colour, 10%);
  }
}

button.button-default {
  @include button($primaryColour);
}

input.searchsubmit {
  @include button($primaryColour);
}

button.button-success {
  @include button($successColour);
}

button.button-error {
  @include button($errorColour);
}

.third {
  width: 33.33%;
  padding: 2%;
  float: left;
}

.half {
  width: 50%;
  padding: 2%;
  float: left;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}