footer.fullfooter{
  clear: both;
  background: #333;
  height: 175px;
}

footer p {
	font-family: 'Oswald', Helvetica, sans-serif;
	font-size: 14px;
	letter-spacing: 3px;
	margin: 0;
	padding-top: 7%;
	padding-bottom: 5%;
	padding-right: 7%;
	color: #eee;
	text-transform: uppercase;
	text-align: right;
	float: right;
}

.footercontainer {
	padding-right: 5%;
	padding-left: 8%; 
	background: #333;
}

.socialicons {
	padding-top: 5%;
	float: left;
	width: 20%;

}

.facebookicon, .twittericon, .instagramicon {
	width: 33.3%;
	padding: 10px;
	float: left;
}