form.searchform {
	padding-top: 10px;
}

.searchbar {
	margin-top: 31px;
	margin-bottom: 31px;
}

input.searchinput {
	display:block;
	float: left;
	padding: 10px;
	font-weight: 400;
	font-size: 14px;
}

input.searchsubmit {
	margin-left: 2%;
	font-weight: 400;
	color: #fff;
	font-size: $fontSize * 0.6;

	@media (max-width: 1224px) {
		margin-left: 0;
		width: 64%;
		margin-top: 10px;
	}

	@media (max-width: 1024px) {
		width: 75%;
	}

}


