header.homeheader {
	height: 500px;
	margin-top: 0;

	@media (max-width: 800px) {
		background-image: url('img/header-photo.png');
	}
}

#header-video {
	@media (max-width: 800px) {
		display: none;
	}
}

header.goawayheader {
	height: 120px;
}

header h1 {
	margin-top: 0;
}

.video-js .vjs-tech {
	position: absolute;
	z-index: 0;
	background-size: 100% 100%;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	width: 103%	;
	height: auto;
}

.biglogocontainer {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 40%;
}

.shop h1 {
	padding-left: 6%;
	font-size: 33px;
	margin-top: 0;
}
