img.navlogo {
	position: absolute;
	top: -5%;
	left: 3%;
	margin: 0 auto;
	height: auto;
	z-index: 1000;
}

img.biglogo {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	height: auto;
	z-index: 1000;
}

