h3.widget-title {
	margin-bottom: 10px;
	margin-top: 40px;
	letter-spacing: 7px;
}

.sidebar th {
	font-size: 18px;
	text-transform: uppercase;
	padding-top: 20px;
	text-align: left;
}
.sidebar td.business_hours_table_day, .sidebar td.business_hours_table_open, .sidebar td.business_hours_table_close {
	font-size: 18px;
}

.sidebar .working_hours_title {
	font-size: 18px;
	text-align: center;

	@media (max-width: 1024px) {
		text-align: left;
		margin-bottom: 10px;
	}
}

.sidebar span.working_hours_closed, .sidebar span.working_hours_open, .sidebar span.working_hours_close {
	font-size: 18px;
	text-align: center;
}

.sidebar span.working_hours_open {
	margin-left: 35%;

	@media (max-width: 1024px) {
		margin-left: 0;
	}
}

